div{
    display: block;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 15rem;
    align-self: center;
    justify-self: center;
}

button{
    padding: 5rem 100%;
    font-size: 5rem;
}