.Plusser{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: blue;
}


.Submitter, .Clearer{
    background-color: pink;
    color: aliceblue;
    padding: 1rem;
    border: none;
    border-radius: 1rem;

}

.TextArea_holder{
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#Imput{
    border: none;
    width: 100%;
    resize: none;
}

#PrintsHello{
    background-color: pink;
    font-size: 2rem ;
    border: none;
    border-radius: 1rem;
}

#YourOutput{
    display: flex;
    justify-content: center;
}

#Title_of_thisShit{
    font-size: 2rem;
    font-weight: 400;
    color: pink;

}

.ThePlace{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}